<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Página Principal</title>
</head>
<body>
  <h1>Bienvenido al Panel</h1>
  <ul>
    <li><a href="/articulos" class="btn btn-primary mb-3">Visualizar Articulos</a></li>
    <li><a href="/clientes" class="btn btn-primary mb-3">Visualizar Clientes</a></li>
    <li><a href="/componentes" class="btn btn-primary mb-3">Visualizar Componentes</a></li>
    <li><a href="/estado_articulos" class="btn btn-primary mb-3">Visualizar estados de los articulos</a></li>
    <li><a href="/estado_tickets" class="btn btn-primary mb-3">Visualizar estados de los tickets</a></li>
    <li><a href="/marcas" class="btn btn-primary mb-3">Visualizar Marcas</a></li>
    <li><a href="/modelos" class="btn btn-primary mb-3">Visualizar Modelos</a></li>
    <li><a href="/prioridades" class="btn btn-primary mb-3">Visualizar Prioridades del Ticket</a></li>
    <li><a href="/reparaciones" class="btn btn-primary mb-3">Visualizar reparaciones en curso</a></li>
    <li><a href="/tecnicos" class="btn btn-primary mb-3">Visualizar Tecnicos</a></li>
    <li><a href="/tickets" class="btn btn-primary mb-3">Visualizar Tickets</a></li>
  </ul>
</body>
</html>
